@import url(https://fonts.googleapis.com/css?family=Teko);

body{
    display: flex;
        margin: 0;
        padding: 0;
        background-color: #070707;
        max-width: 100%;
        height: auto;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);  
        overflow: hidden;  
        filter: drop-shadow(0 0 10px white);  
        background-repeat: no-repeat;
       }  
       


.exec h2{
    color: #fff;
    
    font-family: 'Teko', sans-serif;
    font-weight: lighter;
    overflow: hidden;
    border-right: 2px solid orange;
    font-size-adjust: inherit;
    
    white-space: nowrap;
    margin: 0 auto;
    animation:
        typing 7s steps(20, end),
        cursor 0.5s step-end infinite;
    /*animation-delay: 5s;*/
}
@keyframes typing {
    from{ width: 0 }
    to{ width: 100% }
}
@keyframes cursor{
    from, to {
        border-color: transparent;}
    50% {
        border-color: rgb(11, 209, 244);
    }
}
.enter{
    border: 1px solid transparent;
    border-radius: 15px;
    min-width: 70px;
    background-color: rgb(79, 80, 82);
    color: rgb(13, 202, 240);
    font-size: 50px;
    animation: clickit 8s;
}
@keyframes clickit {
    0% {opacity: 0}
    80% {opacity: 0}
    100% {opacity: 1}
}

.enter:hover {
    background-color: rgb(86, 199, 224);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(2, 8, 10);
  }

#brushsword { background-image: url(loadpage1.gif);
    background-color: blue;
    width: 75%;
    height: 75%;
    
  display: flex;
  object-fit: cover;

  }


  @media only screen and (max-width: 1300px){
    #brushsword { background-image: url(loadpage1.gif);
        background-color: blue;
     
        width: 50%;
        height:50%;
      display: flex;
      object-fit: cover;
    
      }
   @media only screen and (max-width: 1150px){
        #brushsword { background-image: url(loadpage1.gif);
            background-color: blue;
            
            width: 50%;
            height:50%;
          display: flex;
          object-fit: cover;
        
          }

  }

